body{
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('./wheat.jpg');
    background-size: 100% 100%;
}

.main{
    background-color: white;   
    height:35vh;
    width:35vw;
    padding:10px;
    border-radius:5px;
}

h2{
    text-align: center;
    border-bottom: 2px dotted black;
    padding-bottom: 8px;
}
button{
    background-color: #0275d8;
    display:block;
    margin:2rem 0rem;
    color:white;
    border-radius: 3px;
    border:none;
    padding:10px;
    width:100%;
    cursor: pointer;
}